header {
    background-color: #4D41C0;
    height: 60px;
    align-items: center;
}

.dsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 33px;
    color: #fff;
}

.dsmovie-nav-content a {
    color: #fff;
}

.dsmovie-nav-content h1 {
    font-weight: 700;
    font-size: 24px;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.dsmovie-contact-link {
    margin: 0;
    margin-left: 10px ;
    font-size: 12px;
}